@model Loginapplication.Models.Role

<div>
    @using (Html.BeginForm("Roles", "Utility", FormMethod.Post, new { id = "myForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Roleid)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group md-form">
                    @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @for = "idrolename" })
                    @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", @id = "idrolename" } })
                    @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" ,@for = "idrolename" })

                </div>
            </div>
        </div>
        <br />

        <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Submit" id="btnSubmit" />


            <input type="button" class="btn btn-danger" value="Cancel" id="btnCancel" data-dismiss="modal" />
        </div>

    }
    <div style="text-align:center;display:none" id="loaderDiv">
        <img src="~/Assets/Rolling-1s-100px.gif" width="150" />
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

<script>

    $(document).ready(function () {


        $("#btnSubmit").click(function () {


            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Utility/AddEditRole",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Utility/Roles";

                },
                error: function () {
                    $("#loaderDiv").hide();
                }

            });
        });

    });


</script>