@model Loginapplication.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


    <script type="text/javascript">

        function RegistrationRedirect() {
            location.href = '@Url.Content("~/Home/Register/")';
        }
    </script>
    <style>
        body {
            background: #da4453; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #da4453, #89216b); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #da4453, #89216b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                
                    <div class="card card-signin my-5">

                        <div class="card-body">
                            <h4 class="card-title text-center font-weight-bold" style="font-family:'Franklin Gothic';">Log In</h4>
                            @using (Html.BeginForm(new { @class = "form-signin" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <br />
                                <div class="form-label-group">

                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label font-weight-bold" })
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                                </div>
                                <br />
                                <div class="form-label-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label font-weight-bold" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>
                                <br />
                                <br />

                                <button class=" btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="background:teal" type="submit">Sign In</button>
                                <button id="btnSignup" name="btnSignup" class=" btn-block mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button" onclick="RegistrationRedirect();">Sign Up</button>
                                <br />
                                <label class="text-center text-danger">@ViewBag.Message</label>
                            }
                        </div>
                    </div>
               
            </div>
        </div>
    </div>

  
</body>
</html>
