@model Loginapplication.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        function cancelclick() {
            location.href = '@Url.Content("~/Home/Index/")';
        }
    </script>
    <style>
        #stybody {
            background-image: url('../../Assets/tech-serve.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            max-height:100%;
        }

        #cardstyle {
            border-radius: 15px;
            padding: 20px;
            /*background-color: #ffffff;*/
            background-color: rgba(255,255,255,0.99);
            /*opacity:0.5;*/
            filter: alpha(opacity=100);
        }
    </style>
</head>
<body id="stybody">
    <div class="container col-md-6" >
        <div class="card" id="cardstyle" style="margin-top:-30px;">
            <h5 class="card-header info-color white-text text-center py-4 m-0">
                <strong>Sign up</strong>
            </h5>


            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" method="post" >
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">

                        <div class="col">
                            <!-- First name -->
                            <div class="md-form text-left">
                                @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.EmpName, new { @class = "form-control" , @required = "required"})
                                @Html.ValidationMessageFor(model => model.EmpName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <div class="md-form text-left">

                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })

                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = "required" })

                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form text-left">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label " })
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form text-left">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })

                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form text-left">
                                @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label " })
                                @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                                @*<input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
                                <label for="materialRegisterFormPhone">Phone number</label>*@
                                <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-left text-muted mb-4">
                                    Optional - for two step authentication
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-left ">
                                @Html.LabelFor(model => model.Roleid, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Roleid, new SelectList(Model.RoleList, "Roleid", "RoleName"), "--Select--", new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.Roleid)
                            </div>
                        </div>
                    </div>


                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Sign up button -->
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="button" onclick="cancelclick();">Sign In</button>
                        </div>
                    </div>

                    <br />
                    <label class="text-center text-danger">@ViewBag.Message</label>
                    <hr>

                    <!-- Terms of service -->
                    <p>
                        By clicking
                        <em>Sign up</em> you agree to our
                        <a href="" target="_blank">terms of service</a> and
                        <a href="" target="_blank">terms of service</a>.
                    </p>

                </form>
                <!-- Form -->

            </div>

        </div>
    </div>















    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
