@model Loginapplication.Models.Technologies

@*@{
        ViewBag.Title = "Index";
    }*@

@section Scripts {
    <script type="text/javascript">

        $('#AddEditFunctionalArea').click(function (e) {
            $.post('_Create', { id: $(this).attr('data-id') }, function (xx) {
                $('#modalContainer').html(xx);
                $('#idAddEditFunctionalAreaModal').modal('show');
            });
        });

            //$(document).ready(function () {
            //    $('#demoGrid').dataTable({

            //    });
            //    alert('hi');
            //    $.ajax({
            //        type: "GET",
            //        url: "/Technology/Index",
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "json",
            //        success: function (response) { alert(response.responseText) },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //});


    </script>
}
<h2 class="text-center">Technologies</h2>
<br />
<div class="container">

    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Add New Technology", "Create" )
            <a href="#" id="addnewtech" data-toggle="modal" data-target="#myModal" data-id="0">Add New Technology</a>
        </div>
    </div>
    <br />


    <table class="table table-striped table-bordered table-md" id="TechTable">
        <thead class="bg-info text-white font-weight-bold text-center">
            <tr>
                <td>Actions</td>
                <td>Technology</td>
                <td>Description</td>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="#" id="addnewtech" data-toggle="modal" data-target="#myModal" >Edit</a>
                        </td>
                        <td>
                         @Html.DisplayFor(m => m.Technology)

                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Description)

                        </td>
                    </tr>
                }
            </tbody>*@
    </table>

</div>

<div id="modalContainer" class="clsDivModalContainer"></div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @using (Html.BeginForm("Index", "Technology", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.TechId)
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit Technologies</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Technology, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Technology, htmlAttributes: new { @class = "form-control", @placeholder = "Please Enter Technology" })
                            @Html.ValidationMessageFor(model => model.Technology, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @placeholder = "Please Enter Description" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            }

        </div>
    </div>
</div>

<br />
