<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">


</head>
<body style="background-color:powderblue;">
    @if (Session["EmpName"] != null)
    {

        @Html.Partial("_Header");
        <div class="container body-content light-blue lighten-5  z-depth-2 ">
            @RenderBody()

        </div>
        <br />
        <br /><br />
        <footer class="page-footer font-small bg-primary mb-auto fixed-bottom">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 ">
                © 2018 Copyright:
                <a href="#">abhishekabhi347@gmail.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>




        @RenderSection("scripts", required: false)

    }



</body>
</html>
