<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sample Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        #bdstyles {
            background: #ECE9E6; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>

    @Html.Action("GetMenuList", "Home")
</head>
<body id="bdstyles">
    @if (Session["EmpName"] != null)
    {

       // @Html.Partial("_Header");
    <div class="container body-content   z-depth-2 " style="background-color:white">

        @RenderBody()

    </div>
        <br />
        <br /><br />
        <footer class="page-footer font-small bg-primary mb-auto fixed-bottom">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 ">
                © 2018 Copyright:
                <a href="#">abhishekabhi347@gmail.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")




        @RenderSection("scripts", required: false)

    }



</body>
</html>
